@model Demo_websach.Models.Book

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<link href="~/Content/Chitietcss.css" rel="stylesheet" />
<h2>Chi tiết Sách</h2>

<div>
    <h4>Sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgBOOK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgBOOK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sachMoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sachMoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.Raw(Model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSua", new { @BookID = Model.BookID }) |
    @Html.ActionLink("Trở về", "Index")
</p>
