
@{
    ViewBag.Title = "GioiThieu";
    Layout = "";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/assets/css/styleNguoiDung.css")
    <link href="~/Content/GioiThieucss.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2acd0adeee.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
        <h1><a href="index.html">BẠN VÀ SÁCH</a></h1>
        <nav class="links">
            <ul>
                <li><a href="@Url.Action("NguoiDungLayout", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("DanhSachAllSanPham", "Home")">Sách</a></li>
                <li><a href="@Url.Action("GioiThieu", "Home")">Giới thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
    </header>


    <div id="NoiDung">
        <h1>Chào mừng đến với BẠN VÀ SÁCH</h1>
        <p>Nơi Tìm Sách và Khám Phá Tri thức!</p>

        <p>Chúng tôi là một trang web trực tuyến chuyên cung cấp hàng nghìn cuốn sách phong phú từ nhiều thể loại khác nhau, từ tiểu thuyết đến khoa học, kinh doanh, tự truyện và nhiều thể loại khác. Tại "Bạn và Sách", chúng tôi tận tâm đem đến cho bạn trải nghiệm mua sắm sách trực tuyến dễ dàng và thú vị.</p>

        <p>Chúng tôi tự hào về việc cung cấp một nền tảng đáng tin cậy để bạn dễ dàng tìm kiếm và mua sắm những cuốn sách yêu thích. Với sự đa dạng về danh mục và sự cập nhật thường xuyên, chúng tôi cam kết đem đến cho bạn những tác phẩm văn học mới nhất và độc đáo.</p>

        <p>Ngoài ra, dịch vụ khách hàng là ưu tiên hàng đầu của chúng tôi. Chúng tôi luôn sẵn sàng hỗ trợ bạn trong quá trình mua sắm và đảm bảo bạn có trải nghiệm mua sắm trực tuyến thú vị và tiện lợi.</p>

        <p>Dừng lại và khám phá thế giới văn học đa dạng với "Bạn và Sách" ngay hôm nay. Hãy tìm những cuốn sách bạn đang tìm kiếm và đón nhận sự rộn ràng của tri thức và sáng tạo trong từng trang sách. Cảm ơn bạn đã lựa chọn chúng tôi là đối tác trong cuộc hành trình đọc sách của bạn.</p>

        <p class="signature">Chân thành, <br> Đội ngũ BẠN VÀ SÁCH</p>
    </div>
</body>
</html>

