@using Demo_websach.Models;
@model List<Book>

<link href="~/Content/TrangChuSach.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<!--Đầu bài cho trang main-->
<div id="divBody">
    <h3>Sách mới: </h3>
    @{ int i = 0;}
    @foreach (var item in Model)
     {
        i++;
        <div id="SanPham">
            <div id="AnhBia">
                <a href="@Url.Action("XemChiTiet", "Sach", new {MaSach = item.BookID})"> <img style="margin-left:70px" src="@Url.Content("~/HinhAnhSP/" + item.imgBOOK)" width="120" height="120" /></a>
            </div>
            <div id="ThongTin">
                
                @*Miêu tả thông tin sách như tên và giá,...*@
                @if (item.BookName.Length < 35)
                {
                    <div style="text-align:center" id="TenSach">
                        <a href="@Url.Action("XemChiTiet", "Sach", new {MaSach = item.BookID})">@item.BookName</a>
                    </div>
                }
                else
                {
                    <div id="TenSach" title="@item.BookName">@item.BookName.Substring(0, 35) ...</div>
                }

                <div id="DonGia" style="color:orange; text-align:center">
                    <font color="Green">Giá: @String.Format("{0:0,0}", @item.Gia) VNĐ</font>
                </div>

                <div id="GioHang">
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.BookID, @strURL = Request.Url.ToString() }))
                    {
                        <style>
                            #btnGioHang{
                                margin-left:85px;
                            }
                        </style>
                        <input type="submit" value="Mua hàng" id="btnGioHang" class="btn btn-primary" />

                    }
                </div>
            </div>
        </div>
        
        if(i % 3 == 0)
        {
            <div style="clear:both"></div>
        }
     }

    
</div>
<div style="clear:both"></div>  

@section NoiDungBenPhai{

 }
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h3><a href="single.html">Chủ tịch Hồ Chí Minh từng nói: </a></h3>
                <p>"Cứ để người khác kiêu hãnh về số trang mình đã viết; tôi thà khoe khoang về những trang mình đã đọc."</p>
            </div>
            <div class="meta">
                <a href="#" class="author"><span class="name">Chủ tịch Hồ Chí Minh</span></a>
                <img style="height:7em; margin-right:40px" src="~/Content/imgbook/BAC_HO.jpg" alt="" />
            </div>
        </header>
        <a href="single.html" class="image featured"><img src="~/Content/imgbook/BacHo_Sach1.png" alt="" /></a>
        <p></p>
        <footer>
            <ul class="actions">
                <li><a href="single.html" class="button large">Xem chi tiết</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">Rating: 4.9*</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h3><a href="single.html">Nhà văn Dale Carnegie từng nói: </a></h3>
                <a>
                    <p>
                        "Cuộc sống làm bạn buồn chán ư? Hãy lao vào công việc bạn tin tưởng bằng tất cả trái tim, sống vì nó, chết vì nó, và bạn sẽ tìm thấy thứ hạnh phúc tưởng chừng như không bao giờ đạt được."
                    </p>
                </a>
                <a>
                    <p>
                        "Are you bored with life? Then throw yourself into some work you believe in with all your heart, live for it, die for it, and you will find happiness that you had thought could never be yours."
                    </p>
                </a>
            </div>
            <div class="meta">
                <a href="#" class="author"><span class="name">Dale Carnegie</span><img src="~/Content/imgbook/tac-gia-dac-nhan-tam.jpeg" alt="" /></a>
                <h4 style="text-align:start">
                    Dale Carnegie (1888-1955) là một tác giả, diễn giả và nhà phát triển kỹ năng xã hội nổi tiếng người Mỹ. Sự nghiệp của ông tập trung vào việc giúp con người phát triển kỹ năng giao tiếp, lãnh đạo, và quản lý mối quan hệ xã hội
                </h4>
            </div>
        </header>
        <a href="single.html" class="image featured"><img src="~/Content/imgbook/dacnhantam.jpg" alt="" /></a>
        <p>"Đắc Nhân Tâm" là cuốn sách kinh điển của Dale Carnegie, tập trung vào cách xây dựng mối quan hệ xã hội thành công, làm cho người đọc hiểu rõ hơn về con người, và học cách thúc đẩy sự hòa thuận và tương tác tích cực. Cuốn sách này cung cấp các nguyên tắc quan trọng về giao tiếp, lãnh đạo và giúp người đọc phát triển mối quan hệ tốt với người khác để đạt được thành công trong cuộc sống cá nhân và nghề nghiệp.</p>
        <footer>
            <ul class="actions">
                <li><a href="single.html" class="button large">Xem chi tiết</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">Rating: 4.7*</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h3><a href="single.html">Nhà văn Nguyễn Nhật Ánh</a></h3>
                <a>
                    <p>"Tôi đã từng chờ em dài hơn những năm tháng nhạt màu phía trước. Dù thế nào tôi vẫn muốn nhắc lại, em là người dưng tôi thương nhất cuộc đời này. (Cô gái đến từ hôm qua)"</p>
                </a>
            </div>
            <div class="meta">
                <a style="margin-left:30px" href="#" class="author"><span class="name">Nhà văn Nguyễn Nhật Ánh</span></a>
                <img style="height:4em; margin-right:40px;" src="~/Content/imgbook/nguyen-nhat-anh.jpg" alt="" />
            </div>
        </header>
        <a href="single.html" class="image featured"><img src="~/Content/imgbook/cogaidentuhomqua.jpg" alt="" /></a>
        <p>Nếu tình yêu không phải từ cả hai phía, tức là nếu tình yêu của bạn không làm nảy sinh tình yêu đáp lại, nếu bạn yêu nhưng không làm bản thân mình được yêu thì đó là một tình yêu bất lực, và đó là nỗi bất hạnh. (Cô gái đến từ hôm qua)</p>
        <footer>
            <ul class="actions">
                <li><a href="single.html" class="button large">Xem chi tiết</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">Rating: 4.5* </a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>

